/**
 * Uses SASS compiled to global stylesheet, yote.css
 * Any styles specific to the Flow module that you ALSO want globally
 * available should live here.
 */

@import './admin/flowAdminStyles';

.flow-list-item-holder {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	margin-bottom: 50px;

	.flow-list-item {
		min-height: 330px;
		width: 260px;
		border: 1px solid gray;
		margin: 0 50px 50px 0;
		.flow-list-item-name {
			cursor: pointer;
			display: flex;
			margin: 0 20px;
			padding: 15px 0;
			border-bottom: 2px solid #c9dcda;
			font-weight: 800;
		}
		.list-item-holder {
			margin: 0 20px;
			padding: 15px 0;
			.list-item-checkbox {
				.task-checkbox {
					margin-right: 10px;
				}
				font-weight: 800;
				display: flex;
				flex-direction: row;
				align-items: center;
			}
		}
	}
}

.single-flow-task-item {
	margin: 30px 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	.single-flow-task-item-checkbox {
		margin-right: 15px;
		height: 25px;
		transform: scale(1.5);
	}

	.single-flow-task-name-desc {
		display: flex;
		flex-direction: column;
		.single-flow-task-span-name {
			font-size: 25px;
		}
		.comment-button-purple {
			margin-top: 10px;
			border: 2px solid #792fca;
			border-radius: 5px;
			cursor: pointer;
			padding-top: 5px !important;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 85px !important;
			font-size: 14px;
			color: #792fca;
		}
	}
}

.new-add-button {
	background-color: #792fca;
	color: white;
	padding: 10px 15px;
	border: transparent;
	border-radius: 3px;
}
